body {
	margin: 38px 25px 0 25px;
	background-color: #EDEDED;
	font-family: sans-serif;
	color: #878C92;
}

nav {
	width: 100%;
	border-bottom: 4px ridge #B0B0B0;
}

nav img {
	padding: 25px 0;
}

nav ul {
	float: right;
	margin: 20px 5px;
}

nav ul li {
	display: inline-block;
	margin: 5px 0;
	padding: 15px 40px;
}

nav li a {
	text-transform: uppercase;
	color: #878C92;
	text-decoration: none;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -2px;
}

nav li a:hover {
	color: red;
}

section#intro {
	width: 100%;
}

section#intro h1 {
	text-align: center;
	margin: 70px auto 20px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}

section#intro h2 {
	text-align: center;
	margin: 20px auto;
	font-size: 20px;
	letter-spacing: -1px;
}

section#intro h1 span {
	color: #EA95A9;
}

section#intro img {
	width: 100%;
	margin: 50px auto;
	border-radius: 10px;
}

div#paragraph {
	float: left;
	width: 49.999999%;
	display: inline-block;
}

section#intro h2.title {
	font-family: 'Pacifico';
	font-size: 30px;
	color: #EA95A9;
	margin: 20px auto;
}

section#intro h2.statement {
	font-size: 24px;
	padding-right: 50px;
	margin: 20px auto 40px;
	text-align: left;
	line-height: 32px;
}

div#category ul {
	margin: 70px auto;
}

div#category ul li {
	width: 17%;
	display: inline-block;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid grey;
	margin-left: 30px;
	margin-bottom: 30px;
}

div#category ul li:nth-child(n+6) {
	margin-bottom: 15px;
}

section#intro div#category img {
	margin-top: 0;
	border-radius: 10px 10px 0 0;
}

section#intro div#category h1 {
	text-align: left;
	margin-top: -40px;
	margin-bottom: -5px;
	letter-spacing: -1px;
	margin-left: 3px;
}

section#intro div#category h4 {
	text-align: left;
	margin-top: -5px;
	margin-bottom: 10px;
	letter-spacing: -1px;
	margin-left: 3px;
	color: #EA95A9;
} 




footer {
	background-color: #2D2D2D;
	height: 300px;
	border:none;
}

div#contact {
	float: left;
	display: inline-block;
}

div#contact h3 {
	font-family: 'Pacifico';
	color: #EA95A9;
	margin: 30px 10px;
}

div#contact form input, textarea{
	display: block;
	background-color: #D7D7D7;
	padding: 5px 300px 5px 3px;
	margin: 10px;
	border: none;
}

div#contact form textarea {
	padding-right: 310px;
	padding-bottom: 60px;
}

div#contact form button {
	margin: 10px;
	border: none;
	background-color: #2D2D2D;
	color: #fff;
}

div#social ul {
	float: right;
	position: relative;
	right: 30px;
	top: 100px;
}

div#social li {
	display: inline-block;
	margin: 15px;
}

div#social i {
	background-color: #EA95A9;
	color: #2D2D2D;
	border-radius: 50%;
	padding: 10px;
}